.idea
.vscode
proxy/node_modules/
tmp-docker-vol/

prosper-rest-api/
prosper-traffic/

.DS_Store
elasticsearch/*
!elasticsearch/setup/
elasticsearch/**/elasticsearch-*
elasticsearch/**/kibana-*
elasticsearch/**/logstash-*
rabbitmq_data/
